$white: #fff;
$black: #000;
$main-blue: #194F9D;
$light-blue: #1769CA;
$light-grey: #EAEBEE;
$dark-grey: #D9D9D9;
$red: #E7223D;
$grey-gradient: linear-gradient(180deg, $light-grey 0%, $dark-grey 100%);
$grayscale-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
$light-peach: #F5EFED;

/* Logical colors */
$primary: $main-blue;
$error: $red;

/* z-indexes */
$z-index-bg: 0;
$z-index-content: 1;
$z-index-top: 2;

/* Media breakpoints */
$xs: 0;
$sm: 768px;
$md: 1280px;
$lg: 1366px;
$xl: 1920px;

/* Container */
$container-max-width--sm: $sm;
$container-max-width--md: $md;
$container-max-width--lg: $lg;
$container-max-width--xl: $xl;

/* Vuetify variables */
/* @use 'vuetify/settings' with (
  $body-font-family: 'Montserrat',
  $application-background: $light-peach,
  $font-size-root: 15px,
  $button-font-size: 11px,
  $button-font-weight: 600,
  $button-text-letter-spacing: normal,
  $grid-breakpoints: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
  ),
  $container-max-widths: (
    sm: $container-max-width--sm,
    md: $container-max-width--md,
    lg: $container-max-width--lg,
    xl: $container-max-width--xl,
  )
); */

@import 'mixins';